
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body{
    background-color: #e0e0e0;
}

.header{
    z-index: 1000;
    position: fixed;
    background-color: #191919 !important;
}

.container{
    width: 100% !important;
}

/* ============== content ================= */
.general{
    display: flex;
    margin-top: 2.80rem;
    min-height: 100vh;
    justify-content: space-between;
}

#leftColumn{
    z-index: 100;
    position: fixed;
    min-height: 100vmax;
    border-right: 1px solid #ccc;
}

#rightColumn{
    min-height: 100vmax;
}

input[type="search"]{
    background: #FFF !important;
}

input[type="search"]:focus{
    background: #FFF !important;
}

/* =================================== */
hr{
    border: 1px solid #e0e0e0;
}

.upper{
    text-transform: uppercase;
}

.with-header{
    border:none !important;
}

#leftColumn .collection-item{
    border: none !important;
}

.bold i{
    font-size: 20px;
    position: relative;
    line-height: 0;
    padding: 0 20px;
}

.bold a{
    padding: 10px 0;
    width: 100%;
    color: #2e3436;
}

.bold a:hover{
    background: #e0e0e0;
}


thead th{
    border-radius: 0px !important;
}

tbody{
    font-size: 0.8rem;
}

.paddingForm{
    padding: 15px;
    /*background: #FFFFFF;*/
}

#card-alert i{
    font-size: 20px;
    position: relative;
    top: 4px;
}

.notification-badge {
    position: relative;
    right: 5px;
    top: -20px;
    color: #ffffff;
    background-color: #FF4081;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 4px 5px;
}

small{
    font-size: 0.8rem !important;
    font-weight: bold!important;
}


.c-img img{ width: 80%; height: 180px; }




.dropdown-content li>span, .dropdown-content li>a {
    color: #ff4081 !important;
}

.help-block{
    padding: 0px 45px;
    font-size: 0.8rem;
}